./.idea/
./NLP_Final_Project/SQuAD/

./SimCSE/
./pretrained_model/
./examples/
./bert-finetune/
./bert-rdrop/
./bert-sentence/
./bert-simcse(best)/
/pretrained_model/sentence-bert/.gitattributes
/.idea/.gitignore
/SimCSE/SentEval/.gitignore
/SimCSE/SentEval/senteval/tools/__init__.py
/SimCSE/SentEval/senteval/__init__.py
/SimCSE/simcse/__init__.py
/SimCSE/demo/static/files/all.js
/SimCSE/SentEval/senteval/binary.py
/SimCSE/demo/static/files/bootstrap.min.js
/SimCSE/SentEval/examples/bow.py
/SimCSE/SentEval/senteval/tools/classifier.py
/bert-finetune/config.json
/bert-rdrop/config.json
/bert-sentence/1_Pooling/config.json
/bert-sentence/config.json
/bert-simcse(best)/config.json
/pretrained_model/albert-base-v2/config.json
/pretrained_model/bert-base-uncased/config.json
/pretrained_model/roberta-base/config.json
/pretrained_model/sentence-bert/1_Pooling/config.json
/pretrained_model/sentence-bert/config.json
/pretrained_model/sentence-bert/config_sentence_transformers.json
/examples/custom_model.py
/SimCSE/figure/demo.gif
/.idea/deployment.xml
/pretrained_model/roberta-base/dict.txt
/SimCSE/data/download_nli.sh
/SimCSE/data/download_wiki.sh
/.idea/leetcode/editor.xml
/SimCSE/slides/emnlp2021_slides.pdf
/.idea/encodings.xml
/SimCSE/SentEval/senteval/engine.py
/SimCSE/evaluation.py
/SimCSE/demo/static/example_query.txt
/SimCSE/demo/static/example_sentence.txt
/SimCSE/demo/static/files/favicon.ico
/SimCSE/demo/flaskdemo.py
/SimCSE/SentEval/examples/gensen.py
/SimCSE/SentEval/examples/googleuse.py
/SimCSE/demo/gradiodemo.py
/SimCSE/demo/static/index.html
/SimCSE/SentEval/examples/infersent.py
/SimCSE/demo/static/files/jquery-3.3.1.min.js
/SimCSE/SentEval/LICENSE
/.idea/misc.xml
/SimCSE/figure/model.png
/SimCSE/SentEval/examples/models.py
/SimCSE/simcse/models.py
/pretrained_model/sentence-bert/modules.json
/.idea/modules.xml
/SimCSE/SentEval/senteval/mrpc.py
/SimCSE/demo/static/files/plogo.png
/SimCSE/demo/static/files/popper.min.js
/SimCSE/SentEval/senteval/probing.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/bert-finetune/pytorch_model.bin
/bert-rdrop/pytorch_model.bin
/bert-sentence/pytorch_model.bin
/bert-simcse(best)/pytorch_model.bin
/pretrained_model/albert-base-v2/pytorch_model.bin
/pretrained_model/bert-base-uncased/pytorch_model.bin
/pretrained_model/roberta-base/pytorch_model.bin
/pretrained_model/sentence-bert/pytorch_model.bin
/SimCSE/SentEval/senteval/rank.py
/SimCSE/SentEval/senteval/tools/ranking.py
/pretrained_model/sentence-bert/README.md
/SimCSE/demo/README.md
/SimCSE/SentEval/README.md
/SimCSE/README.md
/SimCSE/SentEval/senteval/tools/relatedness.py
/SimCSE/requirements.txt
/SimCSE/demo/run_demo_example.sh
/examples/run_finetune.py
/examples/run_finetune_no_trainer.py
/examples/run_finetune_no_trainer_with_trick.py
/examples/run_predict.py
/examples/run_pretrain.py
/SimCSE/run_sup_example.sh
/SimCSE/run_unsup_example.sh
/pretrained_model/sentence-bert/sentence_bert_config.json
/bert-sentence/sentencepiece.bpe.model
/pretrained_model/sentence-bert/sentencepiece.bpe.model
/.idea/SentenceSimilarity.iml
/SimCSE/SentEval/setup.py
/SimCSE/setup.py
/SimCSE/SentEval/senteval/sick.py
/SimCSE/simcse_to_huggingface.py
/SimCSE/SentEval/examples/skipthought.py
/SimCSE/SentEval/senteval/snli.py
/bert-sentence/special_tokens_map.json
/pretrained_model/sentence-bert/special_tokens_map.json
/SimCSE/SentEval/senteval/sst.py
/SimCSE/SentEval/senteval/sts.py
/SimCSE/demo/static/files/style.css
/test.py
/bert-finetune/test_label_ids
/bert-finetune/test_metrics
/bert-finetune/test_predictions
/bert-sentence/tokenizer.json
/pretrained_model/albert-base-v2/tokenizer.json
/pretrained_model/bert-base-uncased/tokenizer.json
/pretrained_model/roberta-base/tokenizer.json
/pretrained_model/sentence-bert/tokenizer.json
/bert-sentence/tokenizer_config.json
/pretrained_model/sentence-bert/tokenizer_config.json
/SimCSE/simcse/tool.py
/SimCSE/train.py
/bert-finetune/trainer_state.json
/SimCSE/simcse/trainers.py
/bert-finetune/training_args.bin
/SimCSE/SentEval/senteval/trec.py
/bert-sentence/unigram.json
/pretrained_model/sentence-bert/unigram.json
/SimCSE/SentEval/senteval/utils.py
/SimCSE/SentEval/senteval/tools/validation.py
/.idea/vcs.xml
/pretrained_model/roberta-base/vocab.json
/bert-finetune/vocab.txt
/bert-rdrop/vocab.txt
/bert-simcse(best)/vocab.txt
/pretrained_model/bert-base-uncased/vocab.txt
/.idea/webServers.xml
